@import '../colors';
@import '../breakpoints';

.index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 500px;

  @media only screen and (orientation: landscape) and (min-width: $md-phone) {
    min-height: 400px;
  }
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media only screen and (orientation: portrait) and (min-width: $tablet) {
    height: 40%;
    width: 60%;
    margin: 0 auto;
    padding: 2rem;
    background-color: $white;
    border: 5px solid $marigold;
  }

  @media only screen and (orientation: landscape) and (min-width: $desktop) {
    height: 60%;
    width: 60%;
    margin: 0 auto;
    padding: 2rem;
    background-color: $white;
    border: 5px solid $marigold;
  }

  h1 {
    text-align: center;
    margin: 0.25em auto;
    color: $white;
    text-shadow: 3px 3px $marigold;

    @media only screen and (orientation: portrait) and (min-width: $tablet) {
      color: $marigold;
      text-shadow: none;
    }

    @media only screen and (orientation: landscape) and (min-width: $desktop) {
      color: $marigold;
      text-shadow: none;
    }
  }

  p {
    max-width: 75%;
    color: $white;

    @media only screen and (orientation: portrait) and (min-width: $tablet) {
      color: $compost;
    }

    @media only screen and (orientation: landscape) and (min-width: $desktop) {
      color: $compost;
    }
  }

}

.logo {
  font-weight: bold;
}

.input {
  height: 2em;
  width: 75%;
  padding: 0.25em;
  border: 3px solid $marigold;
}

.loginButton {
  width: 75%;
  margin: 0.5em 4px calc(1.5em + 4px) 0;
  padding: 0.75rem;
  background-color: $white;
  border: 4px solid $marigold;
  border-radius: 50px;
  box-shadow: 4px 4px $marigold;
  font-size: 1.5rem;
  font-weight: bold;
  color: $marigold;

  &:active,
  &:hover,
  &:focus {
    box-shadow: none;
    margin: calc(0.5em + 4px) 0 1.5em;
  }
}
