@import '../colors';

.index {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: 60%;
  margin: 0 auto;
  padding: 2rem;
  background-color: $white;
  border: 4px solid $compost;

  h1 {
    text-align: center;
    color: $compost;
  }

  p {
    max-width: 75%;
  }

}
