@import 'colors';
@import 'breakpoints';

.promptIndexContainer {
	margin: 0 auto 2.5rem;
	background-color: $white;
	width: 80%;
	border: 4px solid $marigold;
  padding: 0 2rem 2rem;

  header {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
	}

	h1 {
		text-align: center;
	}

  @media only screen and (orientation: portrait) and (min-width: $tablet), 
  (orientation: portrait) and (min-width: $sm-phone),
  (orientation: portrait) and (min-width: $md-phone),
  (orientation: portrait) and (min-width: $lg-phone) {
    width: 100%;
  }
}

.createdAt {
  @media only screen and (orientation: portrait) and (max-width: $sm-phone),
  (orientation: portrait) and (max-width: $md-phone),
  (orientation: portrait) and (max-width: $lg-phone) {
    text-align: center;
  }

  @media only screen and (orientation: portrait) and (min-width: $tablet) {
    text-align: left;
  }
}

.prompt {
	margin: 0 auto;
	background: $white;
	transition: box-shadow 0.1s ease-in;
	width: 100%;
	border: 1px solid $sage;
	cursor: pointer;

	&:hover {
		box-shadow: 1px 1px 3px $shadow;
	}

	& + .prompt {
		margin-top: 2rem;
	}

  @media only screen and (orientation: portrait) and (min-width: $tablet),
  (orientation: portrait) and (min-width: $sm-phone),
  (orientation: portrait) and (min-width: $md-phone),
  (orientation: portrait) and (min-width: $lg-phone) {
    width: 100%;
  }
}

.addButton {
	background: $marigold;
	width: 38px;
	border-radius: 75px;
	border: 4px solid $marigold;
	font-size: 1.5rem;
	font-weight: 600;
	color: $white;
	margin-top: 10px;
}