@import 'colors';
@import 'breakpoints';

.workshopsIndexContainer {
	margin: 0 auto 2.5rem;
	background-color: $white;
	width: 80%;
	border: 4px solid $marigold;
	padding: 0 2rem 2rem;

	h1 {
		text-align: center;
	}
}
