@import 'colors';

.comment {
  margin: 2.5% auto;
  padding: 2.5%;
  background: $white;
  transition: box-shadow 0.1s ease-in;
  width: 100%;
  border: 1px solid $sage;
}

.main {
  margin: 2.5% auto;
  padding: 2.5%;
  background: $white;
  transition: box-shadow 0.1s ease-in;
  width: 60%;
  border: 1px solid $sage;
}

.post {
  margin: 1.25% auto;
  padding: 2.5%;
  background: $white;
  transition: box-shadow 0.1s ease-in;
  width: 100%;
}