@import 'colors';

.nav {
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: space-between;
}


.boldA {
  font-weight: bold;
}


.left {
  a {
    text-decoration: none;
    color: $black;
    display: inline-block;
  }


  // TODO: Fix no-qualifying-elements Warning
  & a[data-active='true'] {
    color: $pewter;
  }


  & + a {
    margin-left: 1rem;
  }
}

.right {
  display: inline-block;
}