@import 'colors';
@import 'breakpoints';

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;

	& .dropDownMenuContainer {
		position: relative;
	}

	& .dropDownIcon {
		font-size: 2rem;
		cursor: pointer;
	}
}

.logo {
	font-weight: bold;
}

.menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: $white;
	width: 100%;
	position: absolute;
	right: -1rem;
	border: 4px solid $sage;
}

.textControl {
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	font-size: 1rem;
	font-weight: 600;
	font-family: Arial;
  border-bottom: 1px solid $sage;
}

.tcButton {
	color: $marigold;
	font-size: 20px;
	cursor: pointer;
}

.menuButton {
	background: $white;
	height: 44px;
	width: 90%;
	border: none;
	font-size: 1rem;
	font-weight: 600;
	color: $compost;
}