@import 'colors';
@import 'breakpoints';

.prompt {
  color: inherit;
  padding: 2rem;
  width: 100%;

  h2 {
    text-align: center;
  }

  @media only screen and (orientation: portrait) and (min-width: $tablet), 
  (orientation: portrait) and (min-width: $sm-phone),
  (orientation: portrait) and (min-width: $md-phone),
  (orientation: portrait) and (min-width: $lg-phone) {
    padding: 0.9rem;

    h2 {
      font-size: 1rem;
    }
  }
}

.authorName {
  text-align: center;
  font-size: 13.333px;
}
