/* SCSS */
$dark-gray: #2E1F27;
$light-gray: #D0D6CD;
$lilac: #C5A8BF;
$mint: #C5E2DE;
$marigold: #F3AA51;
$white: rgb(255, 255, 255);

h1 {
  text-align: center;
  color: #f3aa51;
}
.page {
  margin: 0 auto;
  padding: 2rem;
  background-color: rgb(255, 255, 255);
  width: 60%;
  border: 4px solid $marigold;
}
p {
  margin-left: 20%;
}
.post {
  margin: 0 auto;
  background: white;
  transition: box-shadow 0.1s ease-in;
  width: 60%;
  border: 1px solid lightgrey;
}

.post:hover {
  box-shadow: 1px 1px 3px #aaa;
}

.post + .post {
  margin-top: 2rem;
}
