$compost: #2e1f27;
$lilac: #c5a8bf;
$mint: #c5e2de;
$marigold: #f3aa51;
$pewter: #d0d6cd;

$shadow: #aaa;
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

// :export {
//   compostColor: $compost;
//   lilacColor: $lilac;
//   mintColor: $mint;
//   marigoldColor: $marigold;
//   pewterColor: $pewter;
// }
