$compost: rgb(46, 31, 39);
$lilac: rgb(197, 168, 191);
$mint: rgb(197, 226, 222);
$marigold: rgb(243, 170, 81);
$sage: rgb(208, 214, 205);

$shadow: rgb(170, 170, 170);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

// :export {
//   compostColor: $compost;
//   lilacColor: $lilac;
//   mintColor: $mint;
//   marigoldColor: $marigold;
//   pewterColor: $sage;
// }
